
h1 {
margin-top: 131px;
margin-bottom: 45px;
font-size: 35px;
text-align: center;
font-weight: bold;
color: goldenrod;
}

main {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 100px;
}

select {
height: 45px;
border: 1px solid goldenrod;
font-size: 15px;
cursor: pointer;
}

select.hasValue { color: goldenrod; }
select.noContent { color: orangered; }

select option {
color: goldenrod;
cursor: pointer;
}

header {
display: flex;
justify-content: center;
width: 100%;
position: fixed;
left: 0;
top: 0;
}

header a {
display: inline-flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90px;
margin: 0 20px;
color: white;
font-size: 20px;
font-weight: 700;
background-color: mediumturquoise;
transition: background-color 0.5s ease;
}

header a:hover,
header a.active {
background-color: chocolate;
color: white;
}

#error_message {
margin-bottom: 10px;
color: orangered;
}

/************content_wrapper***********/
.content_wrapper {
    margin-top: 60px;
}

.content_wrapper,
.headings,
.content_list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headings { background-color: #1d2430; }
#content_list { background-color: #CCCCCC; }

.content {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 18px;
    color: goldenrod;
    border-top: 1px solid black;
    width: 100px;
}

.item:last-of-type { width: 100%; }

.item + .item { border-left: 1px solid black;}


/*******************/
#form_wrapper {
    padding: 30px 30px;
    margin-top: 30px;
    background-color: lavenderblush;
    display: none;
}

#form_wrapper.is-visible {display: block;}

/*******************/

.content_type {
    display: flex;
    align-items: center;
}

.content_type select {order: -1;}

.content_type a {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    padding: 6px 26px;
    /* line-height: 45px; */
    margin-left: 35px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
}

.content_type a.is-active {
    pointer-events: initial;
    opacity: 1;
}

.content_type a span {
    margin: 0 6px;
    font-weight: bold;
    color: red;
}

.dangerous {
    display: none;
}

.dangerous.is-visible {
    display: flex;
    justify-content: flex-end;
}

.dangerous a {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.language_form {
    padding-top: 31px;
    margin-top: 50px;
    border-top: 1px solid orangered;
    font-weight: 700;
    font-size: 26px;
}

#add_new_content.is-hidden {
    display: none;
}
    /************form************/
form {
    display: none;
    flex-direction: column;
    margin: 45px 0;
    padding: 25px;
    background-color: gray;
    border-radius: 10px;
    background-color: lavenderblush;
}

form.is-visible {
    display: flex;
}

form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form input {
    width: 600px;
    max-width: 100%;
}

form textarea {
    height: 400px;
}

form .small {
    width: 50px;
}

form .header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

#upload_img {display:none;}
/*.radio {*/
    /*margin-top: 15px;*/
/*}*/

.radio {display: flex;}

.radio_item {display: flex;}

.radio_item > label {
    margin: 0 0 0 10px;
}

.radio_item + .radio_item {
    margin-left: 35px;
}
    /****image***/

#fileToUpload { display: block; }

.image_wrapper {
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image_wrapper .btn {
    display: inline-block;
    margin: 0;
    font-size: 15px;
}

#image {
    height: 100px;
    width: 200px;
    margin-left: 45px;
}

    /****content_form***/

#error_message_form {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: orangered;
}

.content_form {
    display: flex;
    justify-content: space-between;
}

.content_form > div {
    display: flex;
    flex-direction: column;
    width: 46%;
}

form label {
    display: block;
    margin: 25px 0 15px 0;
}

#position {
    width: 65px;
    height: 30px;
    text-align: center;
}
.title {
    height: 40px;
}

.body {
    height: 300px;
    resize: none;
}


/****radio****/
.radio_wrapper {
    display: flex;
    align-items: center;
}

.radio_wrapper label {margin: 0;}

form input[type="radio"] {
    height: 20px;
    width: 20px;
    margin: 0 22px;
}


.dataTables_paginate{display: none;}
/*.dataTables_paginate.is-visible {display: block;}*/